# PanDas_Series

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
labels

['a', 'b', 'c']

In [17]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [29]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])

In [30]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])

In [21]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
ser1['USA']

1

In [23]:
ser3 = pd.Series(data=labels)

In [25]:
ser3[0]

'a'

In [31]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64